<div class="client_application container-fluid">
    <div class="row">
        <div class="col-md-12"> 
            <div class="client_name">{{ client_name }}</div>
        </div>
    </div>
    
    <div class="row">
            <div class="col-md-2">
                <label class="client_id">Client ID</label>
            </div>
            <div class="col-md-10">
                <div class="field client_id">{{ client_id }}</div>
            </div>
    </div>
    
    <div class="row">
            <div class="col-md-2">
                <label class="redirect_uris">Redirect URIs:</label>
            </div>
            
            <div class="col-md-10">
                <table class="table table-striped field redirect_uris">
                {{#each redirect_uris}}
                    <tr>
                        <td><div class="redirect_uri">{{this}}</div></td>
                    </tr>
                {{else}}
                    <tr>
                        <td><div class="empty">No redirect uris</div></td>
                    </tr>
                {{/each}}
                </table>
            </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left"><a href="/applications/{{client_id}}/edit"><button class="btn btn-primary">Edit</button></a></div>
            <div class="pull-right"><a href="/applications/{{client_id}}/delete"><button class="btn btn-danger">Delete</button></a></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>